.resume-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
  gap: 50px;
}

.resume-left-section .about,
.resume-left-section .internship,
.resume-right-section .work-experience {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.resume-left-section .education {
  display: flex;
  flex-direction: column;
  /* align-items: stretch; */
}

.resume-left-section .education h2 {
  text-align: center;
}

.about-details,
.education-details,
.internship-details {
  margin: 20px 0px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px lightgray;
}

.work-experience-details {
  border-radius: 5px;
  box-shadow: 0 0 10px lightgray;
  margin: 20px 0px;
  padding: 20px;
}

.about-details .title,
.education-details .title,
.internship-details .title,
.work-experience-details .title {
  font-size: 14px;
  width: max-content;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 5px;
  color: darkgray;
  letter-spacing: 1px;
  border-bottom: 2px solid darkgray;
}

.about-details p,
.education-details h4,
.education-details p,
.internship-details h4,
.internship-details p,
.work-experience-details h4,
.work-experience-details p {
  margin-top: 10px;
}

.education-details .cgpa,
.internship-details .desp,
.work-experience-details .desp {
  margin-top: 10px;
  padding: 10px 0;
  color: darkgray;
  border-top: 1px solid lightgray;
}

.work-experience-details ul {
  margin-left: 10px;
}

.work-experience-details ul p {
  color: black;
  font-style: italic;
}

@media (max-width: 650px) {
  .resume-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .about-details,
  .education-details,
  .internship-details,
  .work-experience-details {
    width: 300px;
    height: max-content;
  }
}
