.home {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  align-items: center;
}

/* Upper Section */

.home-intro {
  width: 500px;
  display: flex;
  padding: 10px;
  margin-top: 50px;
  /* border: 1px solid black; */
}

.home-intro-summary {
  word-wrap: break-word;
}

.home-intro-summary p {
  margin-top: 10px;
}

.home-intro-displaypic img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  /* filter: drop-shadow(0 0 0.75rem grey); */
  box-shadow: 0px 0px 1px 1px #0000001a;
  animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.3);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}

/* Middle Section */

.home-tech-tools {
  margin-top: 50px;
  letter-spacing: 5px;
  text-align: center;
}

.home-tech-tools-list {
  width: 400px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 10px;
}

.home-tech-tools-list div {
  padding: 10px;
  width: 100px;
}

.home-tech-tools-list img {
  width: 60px;
  height: 60px;
}

.home-tech-tools-list p {
  font-size: 10px;
}
