.navbar {
  font-size: 15px;
}

.navbar ul {
  display: flex;
  list-style: none;
  column-gap: 30px;
  background-color: lightgrey;
  padding: 20px 0;
  margin: 0;
}

.navbar a {
  text-decoration: none;
  color: black;
}

.navbar .logo {
  margin-left: 20px;
}

.navbar .nav-home {
  margin-left: auto;
}

.navbar .nav-resume {
  margin-right: 10rem;
}

.navbar a.active {
  border-bottom: solid 2px #281e5d;
}
