.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 50px;
  column-gap: 40px;
  justify-content: center;
  margin-bottom: 30px;
}

.projects h2 {
  margin: 20px 0px 30px 0px;
}

.project {
  padding: 20px;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;

  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px darkgray;
}

.project img {
  width: 150px;
  height: 100px;
}

.project a {
  margin: 0 10px;
  text-decoration: none;
  color: black;
  /* border: 1px solid black; */
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  background-color: lightgray;
}

@media (max-width: 650px) {
  .projects-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 0;
  }

  .projects-container div:last-child {
    margin-bottom: 20px;
  }

  .project {
    width: 290px;
  }
}
